<!doctype html>
<html class="no-js" lang="az">
<head>
	<!-- Meta Teqlər -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Saytın açar sözləri buraya">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Başlıq -->
	<title>Mediplus - Pulsuz Tibb və Həkim Kataloqu HTML Şablonu</title>

	<!-- Favicon -->
	<link rel="icon" href="~/Main/img/favicon.png">

	<!-- Google Şriftləri -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Main/css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/Main/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="~/Main/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="~/Main/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/Main/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="~/Main/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="~/Main/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/Main/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="~/Main/css/magnific-popup.css">
	<link rel="stylesheet" href="~/Main/css/style.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="~/Main/css/normalize.css">
	<link rel="stylesheet" href="~/Main/css/responsive.css">

</head>
<body>

	<!-- Yüklənmə Ekranı -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>


	<!-- Başlıq Sahəsi -->
	<header class="header">
		<!-- Üst Panel -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<!-- Əlaqə -->
						<ul class="top-link">
							<li><a href="#">Haqqımızda</a></li>
							<li><a href="#">Həkimlər</a></li>
							<li><a href="#">Əlaqə</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
						<!-- Əlaqə Sonu -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Üst Əlaqə -->
						<ul class="top-contact">
							<li><i class="fa fa-phone"></i>+880 1234 56789</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
						</ul>
						<!-- Üst Əlaqə Sonu -->
					</div>
				</div>
			</div>
		</div>
		<!-- Üst Panel Sonu -->
		<!-- Başlıq Daxili -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Loqo Başlanğıc -->
							<div class="logo">
								<a href="index.html"><img src="~/Main/img/logo.png" alt="#"></a>
							</div>
							<!-- Loqo Sonu -->
							<!-- Mobil Naviqasiya -->
							<div class="mobile-nav"></div>
							<!-- Mobil Naviqasiya Sonu -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Əsas Menyu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active">
											<a href="#">Ana Səhifə <i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="index.html">Ana Səhifə 1</a></li>
											</ul>
										</li>
										<li><a href="#">Həkimlər</a></li>
										<li><a href="#">Xidmətlər</a></li>
										<li>
											<a href="#">Bloqlar <i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Bloq Təfərrüatları</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Bizimlə Əlaqə</a></li>
									</ul>
								</nav>
							</div>
							<!-- Əsas Menyu Sonu -->
						</div>
						<div class="col-lg-2 col-12">
							<div class="get-quote">
								<a href="appointment.html" class="btn">Görüş Al</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Başlıq Daxili Sonu -->
	</header>
	<!-- Başlıq Sahəsi Sonu -->
        @RenderBody()
	<!-- Altbilgi Sahəsi -->
	<footer id="footer" class="footer">
		<!-- Altbilgi Üstü -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Haqqımızda</h2>
							<p>Biz səhiyyə xidmətləri təqdim edən etibarlı bir təşkilatıq. Pasientlərimizə yüksək keyfiyyətli tibbi xidmətlər və qayğı göstərməyi hədəfləyirik.</p>
							<!-- Sosial -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- Sosial Sonu -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Tez Keçidlər</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Ana Səhifə</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Haqqımızda</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Xidmətlər</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>İşlərimiz</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Digər Keçidlər</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Məsləhət</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Maliyyə</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Rəylər</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bizimlə Əlaqə</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>İş Saatları</h2>
							<p>Klinikamız həftənin müxtəlif günlərində xidmətinizdədir. Pasientlərimizə rahatlıq və keyfiyyətli xidmət təmin edirik.</p>
							<ul class="time-sidual">
								<li class="day">Bazar ertəsi - Cümə <span>8.00-20.00</span></li>
								<li class="day">Şənbə <span>9.00-18.30</span></li>
								<li class="day">Bazar ertəsi - Cümə axşamı <span>9.00-15.00</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Xəbər Bülleteni</h2>
							<p>Xəbər bülletenimizə abunə olaraq bütün yeniliklərimizi və xəbərlərimizi e-poçt qutunuzda əldə edin.</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="E-poçt Ünvanı" class="common-input" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'E-poçt ünvanınız'" required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Altbilgi Üstü Sonu -->
			<!-- Müəllif Hüquqları -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Müəllif Hüquqları 2018 | Bütün Hüquqlar Qorunur</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Müəllif Hüquqları Sonu -->
	</footer>
	<!-- Altbilgi Sahəsi Sonu -->
	<!-- jquery Min JS -->
	<script src="~/Main/js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="~/Main/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="~/Main/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="~/Main/js/easing.js"></script>
	<!-- Color JS -->
	<script src="~/Main/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="~/Main/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="~/Main/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="~/Main/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="~/Main/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/Main/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="~/Main/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="~/Main/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/Main/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="~/Main/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="~/Main/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="~/Main/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/Main/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/Main/js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="~/Main/js/main.js"></script>
</body>
</html>